#headerContainer {
  text-align: center;
  margin: 0%;
  padding: 15px;
  justify-content: center;
}

#headerContainer h1 {
  margin-top: 0;
  margin-bottom: 4px;
}

#headerContainer a {
  color: black;
  text-decoration: none;
}

#title > a:hover {
  color: #0055c0;
}

#headerContainer .button:hover {
  color: white;
}

#headerContainer .button:active {
  color: white;
}

.button {
  background-color: #ff9715;
  font-family: "Open sans", Arial, sans-serif;
  border: none;
  border-radius: 3px;
  margin: 4px 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button:hover {
  background-color: #0055c0;
  color: white;
  border-radius: 3px;
}

.button:active {
  background-color: #00449a;
  color: white;
  box-shadow: none;
}
