#quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote {
  display: inline-block;
  border-radius: 1%;
  border: 2px solid #0b615b;
  padding: 15px;
  margin: 20px;
  max-width: 300px;
  background-color: #f2f4f7;
}

.quote:hover {
  border: 2px solid #ffe600;
  background-color: #ffffff;
}

h3 {
  font-family: sans-serif;
  font-style: italic;
  color: #0b615b;
}

.italic {
  font-style: italic;
}

/* Add quote form */
.add-quotes {
  border-radius: 5px;
  background-color: #45d1c8;
  color: #151834;
  border: 2px solid #ffffff;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.add-quotes h2 {
  color: #151834;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #0b615b;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #0b615b;
  border-radius: 4px;
}

input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}
